.Burger {
    width: 500px;
    margin: auto;
    height: 250px;
    overflow: scroll;
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;
}


@media (max-width: 3000px) {
   .Burger {
       width: 500px;
       height: 400px;
   }
}

@media (max-width: 1000px) {
    .Burger {
        width: 400px;
        height: 300px;
    }
}


@media (max-width: 500px) {
    .Burger {
        width: 300px;
        height: 200px;
    }
}